@CHARSET "UTF-8";

form {
	padding-top: 1.75em;
	padding-bottom: 1.75em;
	width: 95%;
	height: 100%;
	font-size: 2em;
	font-family: 'Oswald', sans-serif;
	font-style: italic;
}
input {
	width: 65%;
	position:relative;
	float: right;
	font-size: .6em;
	font-family: 'Oswald', sans-serif;
}
input.roundButton {
	width: 4.5em;
    height: 4.5em;
    background-color: #eef0fd;
 	border: 0.01em solid #000;
    border-radius: 50%;
    font-size: .75em;
    white-space: normal;
}
span#cap {
	float: right;
	margin-right: 60%;
	font-size: .75em;
	vertical-align: bottom;
}
div#pics {
	width: 100%;
	height: 10em;
	background-color: lightgrey;
	text-align: center;
}

div#rentAndCap {
	width: 100%;
	height: 2em;
    width: 100%;
    text-align: center;
	font-size: 2em;
}
div#rentAndCap table {
	width: 100%;
	margin-top: 1em;
}

div#notes {
	height: 25em;
    margin: 0px auto;
    width:75%;
    padding: 0;
	float: left;
	background-color: lightyellow;
}